LLM_KEY=
MODEL_NAME=deepseek-chat
LLM_BASE_URL=https://api.deepseek.com/beta
ANTHROPIC_BASE_URL=
CONTEXT_MULTIPLIER=1 # change to 4 if using reasoner model
CONTEXT_BASE=0 # change to 32768 if using reasoner model
